@using MVCBlogProject.Areas.Identity.Data;
@using Microsoft.AspNetCore.Identity;
@model WritersIndexVM

@{
    ViewData["Title"] = "Writers";
    @inject SignInManager<ApplicationUser> SignInManager
}

@*<h2>@Model.Id</h2>

<div>
    <img src="@Model.ImagePath" alt="Profile Photo" />
    <p><strong>Username:</strong> @Model.FirstName</p>
    <p><strong>Email:</strong> @Model.Email</p>
    <p><strong>Articles Written:</strong></p>
    <ul>
        @foreach (var article in Model.Articles)
        {
            <li>@article.ChoosenTopics</li>
        }
    </ul>
</div>*@

<div class="card" style="width: 24rem">
    <img src="image/stay-bramble.png" class="card-img-top" alt="..." />
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
        </p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
    </ul>
    <div class="card-body">
        <a href="#" class="btn btn-dark">continue to read</a>
        @*<a href="#" class="btn btn-warning">Another link</a>*@
    </div>
    <div class="card-footer">
        <small class="text-muted">
            <i class="bi bi-clock-history" style="font-size:20px"></i>Date
            <i class="bg-info bi-eye" style="font-size:20px"> </i>views
            <i class="bi bi-chat-left-heart" style="font-size:20px"> </i> comments
        </small>
    </div>
</div>